.square {
    height: 30px;
    width: 30px;
    background-color: pink;
}

#container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.row {
    display: flex;
    gap: 5px;
}